@charset "UTF-8";
/* ===================================================================
CSS information

 file name  : print.css
 author     : Ability Consultant
 style info : 印刷用
=================================================================== */
@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-GilroyBold.eot");
  src: url("../fonts/SVN-GilroyBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBold.woff2") format("woff2"), url("../fonts/SVN-GilroyBold.woff") format("woff"), url("../fonts/SVN-GilroyBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/SVN-GilroyLight.eot");
  src: url("../fonts/SVN-GilroyLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/SVN-GilroyLight.woff") format("woff"), url("../fonts/SVN-GilroyLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*icon style*/
/* -----------------------------------------------------------
	print
----------------------------------------------------------- */
.view_tab,
.view_sp,
.view_tab-sp {
  display: none !important;
}
